/* Smartphones (600px para baixo) */
@media only screen and (max-width: 1005px) {


    .navbar {
        position: relative;
    }

    .menu {
        display: none;
    }

    .logotipo {
        margin: 0;
        text-align: center;

    }

    .header {
        padding-top: 50px;
        display: block;
    }

    .headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .headline p {
        text-align: center;

    }

    .img-headline {
        background-size: contain;
        position: relative;
        bottom: 150px;
        flex: 100%;
        text-align: center;
        width: 100%;

    }

    .section {
        margin-top: 350px;
        text-align: center;
    }

    .servicos {
        flex-direction: column;
    }

    .card {
        flex: 100%;
        width: 100%;
    }

    .what {
        display: none;
    }

    .contact-btn {
        padding: 20px 40px;
        padding-bottom: 20px;
        z-index: 1;

    }

    /* .contact-btn:hover {
        background-color: #413e9d;
    } */
}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 1005px) and (max-width: 1184px) {
    .img-headline {
        background-size: contain; }
        
    .navbar .logotipo{
        flex: 20%;
        /* border: 2px solid red; */
        text-align: center;
        font-family: "Lobster", sans-serif;
        color: hsl(242, 43%, 43%);
        font-size: 170%;
        margin-left: 10%;
        margin-bottom: ;
        position: relative;
        bottom: ; 
        }
}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 1005px) and (max-width: 1075px) {
    .navbar .logotipo{
        flex: 20%;
        /* border: 2px solid red; */
        text-align: center;
        font-family: "Lobster", sans-serif;
        color: hsl(242, 43%, 43%);
        font-size: 160%;
        margin-left: 10%;
        margin-bottom: ;
        position: relative;
        bottom: ; 
        }
}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 1005px) and (max-width: 1012px){
    .navbar .logotipo{
        flex: 20%;
        /* border: 2px solid red; */
        text-align: center;
        font-family: "Lobster", sans-serif;
        color: hsl(242, 43%, 43%);
        font-size: 155%;
        margin-left: 10%;
        margin-bottom: ;
        position: relative;
        bottom: ; 
        }
}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1085px) {
    .img-headline {
        background-size: contain; }
}
