/* Logotipo e menu na parte superior da tela (01) */

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    height: 90px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ff2978;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logotipo {
    flex: 20%;
    /* border: 2px solid red; */
    text-align: center;
    font-family: "Lobster", sans-serif;
    color: hsl(242, 43%, 43%);
    font-size: 30px;
    margin-left: 10%;
    margin-bottom: 30px;
    position: relative;
    bottom: 20px;
}

.menu {
    flex: 70%;
    /*border: 2px solid rgb(0, 34, 255);*/
    text-align: right;
    padding: 20px;
    margin-bottom: 60px;

}

.menu a {
    text-decoration: none;
    color: #413e9d;
    font-size: 18px;
    padding: 20px 16px;
}

.menu a:hover {
    color: #ff2978;
    border-bottom: 4px solid #ff2978;
}

#botao {
    background-color: #413e9d;
    padding: 10px 25px;
    color: white;
    border-radius: 10px;
    margin-right: 10%;
    margin-left: 5%
}

#botao:hover {
    border: none;
    background-color: #ff2978;
}

/* conteudo chamativo (02) */

.header {
    display: flex;
    flex-flow: row wrap;
    height: 600px;
    background-color: #ffffff;
    padding-top: 60px;
}

.headline {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    flex: 38%;
    /* border: 2px solid rgb(0, 34, 255); */
    justify-content: center;
    align-items: center;
}

.headline h2 {
    font-weight: 900;
    font-size: 20px;
    color: #413e9d;
    margin: 0;
    padding: 0;
}


.headline .pola{

    order: 1;
}



.headline p {
    text-align: left;
    color: #413e9d;
    order: 2;
}

.contact-btn {
    display: flex;
    background-color: #ff2978;
    padding: 15px;
    border-radius: 30px;
    text-decoration: none;
    color: #ffffff;
    margin-top: 30px;
    order: 4;
}

.contact-btn:hover {
    background-color: #413e9d;
}

.img-headline {
    background: url(IMGs/happy-birthday-concept-illustration/10990697.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    flex: 52%;
    padding-top: 601px;
    order: 3;
    /* border: 2px solid rgb(255, 85, 0); */
}



/* Apresentação (03) */


.section {
    display: inline-block;
    margin-top: 90px;
    /* border: 1px solid; */
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.section h2 {
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'lobster', sans-serif;
    text-align: center;
    font-weight: bold;
    color: #413e9d;
}

.servicos {
    display: flex;
    margin-top: 5%;
    justify-content: center;
    text-align: center;

}

.card {
    width: auto;
    padding: 20px;
    margin: 1%;
    border: 2px solid #ff2978;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.card img {
    max-width: 100%;
}

.card-text, .ocult-text {
    transition: opacity 0.3s ease-in-out;
}

.ocult-text {
    display: none;
}

.card:hover {
    background-color: #ff2978;
    color: #ffffff;
    padding: 40px;
}

.card:hover img, 
.card:hover .card-text {
    display: none;
}

.card:hover .ocult-text {
    display: block;
}

footer{
    display: flex;
    margin-top: 100px;
    height: 300px;
    background: linear-gradient(180deg,#180f4a,#090422, black);
    text-align: center;
    border-top: 5px solid #ff2978;
    align-items: center;
    justify-content: center;
}

footer .poimi{
    position: relative;
    top: 20px;
}

.agencia{
    font-family: 'lobster', sans-serif;
    color:#ffffff;
    font-size: 30px;
}

.what{
    position: fixed;
    bottom: 20px;
    left: 1395px;
    height: 100px;
}

.what:hover{
    opacity: 0.5;
}
